.bg-color-black{
    background-color: black;
    color: white;
}
.bg-color-white{
	background-color: white;
    color: black;
}
.button-style-custom{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid yellow;
    background-color:transparent;
    color: blue;
}
.button-style-custom:hover{
    background-color:white;
    color: black;
    font-size: larger;
    border: 5px solid green;
}
.nav-items-float-right{
    float:right;
    padding-right:10px;
}
.blink_me
{
    animation: blinker 1s linear infinite;
}
.border-radius-half{
	border-radius: 10px;
}
nav a{
	text-decoration: none;
	margin-right: 10px;
	margin-left: 10px;
	color: black;
}
nav{
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
nav a:hover{
	background-color:skyblue;
	border-radius: 5px;
	color: white;
	padding: 5px;
}